*{
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    min-height: 100vh;
    background: linear-gradient(135deg,#ffffff 40%,#c6bed1 50%);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* overflow: scroll; */
    
}

/* nav{
    /* position: sticky; */
    /* font-size: 60px; */
/* } */

nav ul {
    width: 100%;
    display: flex;
    align-items: center;
}
nav i{
    height: 50px;

}
nav a{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
    transition: transform 0.3s ease-in-out;
    font-size: 22px;
    font-weight: 100;
}
#logo {
    fill: black;
    text-align: top;
    font-weight: 500;
}
nav a:hover{
    transform: scale(1.1);
    
}
nav li:first-child{
    margin-right:auto;
}
.sidebar{
    position: fixed;
    top:0;
    right:0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background:linear-gradient(135deg,#ffffff 40%,#c6bed1 50%);
    backdrop-filter: blur(20px);
    box-shadow: -10px 0px 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

}
.sidebar li {
    width: 100%;
    height: 70px;
}
.sidebar a{
    width: 100%;
    
}
.sidebar a:hover{
    transform-origin: center;
    transition: 0.3s ease-in-out;
    transform: scale3d(1.1);
}
.menu{
    display: none;
}

ul li.menu a i{
    padding-top: 18px;
    justify-content: center;
    align-items: center;
}

.close i{
    cursor: pointer;
    padding-top: 30px;
    padding-left: 30px;
    width: 100%;
    color: black;
}

.close :hover{
    transition: 0.5s ease;
    transform:  scale(1.1);
}

.hero{
    margin-top: 120px;
    margin-left: 30px;
}
.hero h1{
    font-size: 100px;
    font-weight: 800;
}
.hero p{
    margin-top: 30px;
    font-size: 30px;
    font-weight: lighter;
    font-size: 20px;
}
/* .btn{
    margin-top: 50px;
    border-width:2px ;
    border-style: solid;
    border-color: #3c00a0;
    border-radius: 50px;
    padding: 10px 20px;
    background-color: #3c00a0;
    font-size: 15px;
    font-weight: 800;
    color: white;
    cursor: pointer;
    margin-right: 20px;
} */
footer{
    background-color: transparent;
    margin-top: 150px;
    box-shadow:  0px -4px 6px rgba(0, 0,0, 0.1);
    height: 50%;
}
.footerContainer{
    width: 100%;
    padding: 20px 30px 30px;
}
.companyLogo{
    display: flex;
    justify-content: space-between;
    flex-direction: row;

}

footer h3{
    justify-content: center;
    text-align: center;
    padding: 30px;
    font-size: 25px;
    font-weight: 300;
}

.copyright{
    text-align: center;
    padding-top: 30px;
    font-size: 25px;
    font-weight: 150;
}


@media(max-width:496px){
    .hero h1{
        font-size: 50px;
        margin-top: 20px;
    }
    .hero p{
        font-size: 15px;
        margin-top: 15px;
    }
    footer{
        margin-top: 60px;

    }
    footer h3{
        font-size: 18px;
    }
    .footerContainer{
        padding: 10px 15px 15px;
        font-size: small;
    }
    .copyright{
        font-size: 15px;
        padding-bottom: 15px;
    }

    .companyLogo svg{
        height: 40px;
    }

    
}



@media(max-width:800px){
    .hideOnMobile{
        display: none;
    }
    .menu{
        display: block;
    }
}

@media(max-width:400px){
    .sidebar{
        width: 100%;
    }
}